body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 16px;
    background-color: #676363;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

div {
    margin-bottom: 12px;
}

div > div {
    background: #fcdada;
    padding: 12px;
    border-radius: 24px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
    margin-top: 8px;
    padding: 10px;
    width: 100%;
    background-color: #d33854;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
textarea {
    width: 100%;
    min-height: 80px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}
